/* src/pages/Home.css */
.main-content {
    text-align: center; /* Center the main content */
}

.main-content h2 {
    font-size: 2em; /* Larger font for the main message */
    margin: 20px 0; /* Space above and below the main message */
    font-weight: bold; /* Bold text for emphasis */
}

.main-content button {
    margin-top: 30px; /* Space above button */
}